<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ihongqiqu.Identify"
          android:versionCode="101"
          android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application android:label="@string/app_name"
                  android:theme="@style/AppTheme"
                 android:icon="@drawable/ic_launcher"
                 android:name=".base.IdentifyApplication">

        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PhoneActivity"/>
        <activity android:name=".activity.IdActivity"/>
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.IpActivity"/>

    </application>
</manifest>
